@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --cor_container: #ffffff;

    --cor-dos-cards: #1e8463;
}
.container{
    background-color: var(--cor_container);
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 10px;
}
.cardapio{       
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 2px;
}



.cardapio > .cardapio-bot1{
    border-radius: 5px;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.cardapio > .cardapio-bot1 > form{
    background-color: var(--cor-dos-cards);
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-basis: 62%;
    gap: 5px;
    padding: 5px;
}
.cardapio > .cardapio-bot1 > form > .acompanhamentos,
.cardapio > .cardapio-bot1 > form > .carnes,
.cardapio > .cardapio-bot1 > form > .saladas{
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-basis: 33.333%;
}
.acompanhamentos > h1,
.carnes > h1,
.saladas > h1{
    color: var(--cor_container);
    font-size: 15px;
    text-align: center;
    padding-bottom: 5px;
}
.acompanhamentos > input,
.carnes > input,
.saladas > input{
    width: 100%;
    flex-basis: 8%;
    border: 1px solid black;
    border-radius: 5px;
    padding:5px;
}

.salvar-imprimir{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 38%;
    align-items: center;
}
.salvar-imprimir > .salvar-btn{
    border: 1px solid black;
    height:30px;
    width: 150px;
    border-radius: 10px;
    background-color: #1f7a68;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.salvar-imprimir > .imprimir-btn{
    border: 1px solid black;
    height: 30px;
    width: 175px;
    border-radius: 10px;
    background-color: #1f7a68;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.cardapio > .cardapio-bot2{
    
    border-radius: 5px;
    flex-basis: 40%;
    display: flex;
    gap: 10px;

}
.cardapio-bot2 > .feijoada1,
.cardapio-bot2 > .caseira1{
    background-color: var(--cor-dos-cards);
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    flex-basis: 50%;
    height: 100%;
}






/* ***************************************************************************************** */
.imagem{        
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.imagem > .caseira{
    background-color: var(--cor-dos-cards);
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 50%;
}
.imagem > .feijoada{
    background-color: var(--cor-dos-cards);
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 50%;
}



.salvar-btn:hover,
.imprimir-btn:hover{
    background-color: rgb(24, 74, 167);
    color: white;
}
@media screen and (max-width: 800px){
    #cs1{
        display: none;
    }
    .cardapio{
        width: 100%;
    }
}