@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --cor_container: #ffffff;
    --cor-dos-cards: #1e8463;
}
.container{
    background-color: var(--cor_container);
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card1{
    border-radius: 5px;
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}.card1 > .cab{
    background-color: var(--cor-dos-cards);
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    height: 15%;
}
.card1 > .list-cards{
    display: flex;
    height: 85%;
    gap: 50px;
}
.card1 > .list-cards > .cards{
    background-color: var(--cor-dos-cards);
    border: 1px solid #000000;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}


.card2{
    
    flex-basis: 66.66%;
    display: flex;
    gap: 5px;
}
.card2 > .graf1{
    background-color: var(--cor-dos-cards);
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2 > .graf2{
    background-color: var(--cor-dos-cards);
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


table{
    width: 80%;
    height: 100%;
    border-collapse: collapse;    
}
th{
    background-color: rgb(169, 163, 163);
    padding-bottom: 2px;    
}
th.coluna1{
    border-top-left-radius: 5px;
}
th.coluna2{
    border-top-right-radius: 5px;
}
td.nome-cliente{
    border: 1px solid black;
    padding-left: 10px;
    text-align: start;
}
td{
    border: 1px solid black;
    text-align: center;
}
@media screen and (max-width: 792px){
    #cd4{
        display: none;
    }
    #cab2{
        font-size: 25px;
    }
}
@media screen and (max-width: 610px){
    #cd3{
        display: none;
    }
    #cab2{
        font-size: 15px;
    }
}