@charset "UTF-8";

@font-face{
    font-family: 'Stagera';
    src: url('../fontes/Stagera.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fontes/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
:root{
    --fonte-do-titulo: 'Stagera', Arial, Helvetica, sans-serif;
    --fonte1: 'Roboto', Arial, Helvetica, sans-serif;
    --fonte2: 'Poppins', Arial, Helvetica, sans-serif;

    --cor8: #2490ba;

    --cort1: #b98e0e;
    --cort2: #08ac3f;
    --cort3: #0988e9;
    
    --branco: #ffffff;
    --preto: #000000;
    --amarelo: #f6ff00;


    --tamanho0: 5px;
    --tamanho1: 10px;
    --tamanho2: 15px;
    --tamanho3: 20px;
    --tamanho4: 25px;
    --tamanho5: 30px;
    --tamanho6: 35px;
    --tamanho7: 40px;
    --tamanho8: 45px;
    --tamanho9: 50px;
}


.d1{
    background-color: var(--cor8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-basis: 33.333333%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.455);
}
.cab{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid black;
    display: flex;
    height: 5%;
    
}

.cab1{
    background-color: var(--cort1);
    border: 1px solid black;
}
.cab2{
    background-color: var(--cort2);
    border: 1px solid black;
}
.cab3{
    background-color: var(--cort3);
    border: 1px solid black;
}

.d1 > .content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.d1 > .cab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.d1 > .cab > h1{
    font-family: var(--fonte1);
    font-weight: 400;
    font-size: 15px;
    color: white;
    
}
.d1 > .cab > p{
    font-family: var(--fonte1);
    font-weight: 400;
    font-size: 15px;
    color: white;
}
@media screen and (max-width: 530px){
    .d1 > .cab > h1{
        font-size: 10px;
    }
    .d1 > .cab > p{
        font-size: 10px;
    }

}
@media screen and (max-width: 650px){
    .d1 > .cab > h1{
        font-size: 12px;
    }
    .d1 > .cab > p{
        font-size: 12px;
    }

}



















